*.suo
*.user
bin/ 	# ignore bin directory 
bin/Debug/
bin/Release/
.vs
.vs/ProjectEvaluation
bin/x64/
bin/ARM64/
obj/Debug/
obj/Release/
obj/ARM64/
obj/x64/
obj/ 	# ignore bin directory 
*.obj 	# ignore any files with .obj postfix 
packages
*.nupkg
*.pdb
*.pf
*.data
*.cache
*.jar
*.properties
*.TMP
*.vsidx
*.json
*.props
*.targets
*.v2
*.v2
*.v2
